@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/public/fonts/OpenSans-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('/public/fonts/OpenSans-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('/public/fonts/OpenSans-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url('/public/fonts/OpenSans-ExtraBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OpenSans-Regular', sans-serif;
}

.openSans-SemiBold {
  font-family: 'OpenSans-SemiBold', sans-serif;
}

.openSans-Bold {
  font-family: 'OpenSans-Bold', sans-serif;
}

.openSans-ExtraBold {
  font-family: 'OpenSans-ExtraBold', sans-serif;
}

.navbar-light {
  background: linear-gradient(120deg, rgba(255, 255, 255, 1) 0%, rgba(240, 228, 255, 1) 100%);
}

.button-light {
  background: linear-gradient(90deg, rgba(255, 140, 0, 1) 0%, rgba(255, 215, 0, 1) 100%);
}

/* Dark mode gradients */
.navbar-dark {
  background: linear-gradient(120deg, rgba(26, 32, 44, 1) 0%, rgba(48, 54, 65, 1) 100%);
}

.button-light {
  background: linear-gradient(90deg, rgb(104, 224, 228) 0%, rgb(13, 206, 219) 100%);
  padding: 8px 10px;
  border-radius: 4px;
}

.button-dark {
  background: linear-gradient(90deg, rgb(104, 224, 228) 0%, rgb(13, 206, 219) 100%);
  padding: 8px 10px;
  border-radius: 4px;
}

/* Ensure button is aligned to the right */
button.ml-auto {
  margin-left: auto;
}

.bentoCard {
  inset: 0;
  z-index: 0;
  display: flex;
  border-radius: 20px;
  transition: 700ms;
  background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
  transition: 200ms;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
    "tr-6 tr-7 tr-8 tr-9 tr-10"
    "tr-11 tr-12 tr-13 tr-14 tr-15"
    "tr-16 tr-17 tr-18 tr-19 tr-20"
    "tr-21 tr-22 tr-23 tr-24 tr-25";
}