/* From Uiverse.io by MuhammadHasann */ 
#animatedButton {
    position: relative;
    padding: 0;
    width: 300px;
    height: 65px;
    background: transparent;
    font-size: 22px;
    border: 1px solid #ffffff1c;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #ffffff1c;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }
  
  #animatedButton::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 65px;
    background: radial-gradient(circle at 100% -50%, #ffffff69 45%, #d4d4d44f 60%, #ffffff36 2%);
    /* background-size: 200%; */
    background-repeat: no-repeat;
    filter: opacity(.3) blur(.3em);
  }
  
  #animatedButton::after {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    height: 100%;
    width: 100%;
    background-color: #fbfd7b;
    filter: blur(2em);
    opacity: 0;
    pointer-events: none;
  }
  
  #animatedButton p {
    display: inline-block;
    width: 300px;
    line-height: 65px;
    font-size: 20px;
    font-weight: 900;
    color: #d6d6d6;
    filter: blur(.02em);
    z-index: 5;
  }
  
  #animatedButton .svg-1 {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%) rotate(45deg);
    width: 2.5rem;
    height: auto;
    filter: blur(.1rem) opacity(.5);
    z-index: -5;
  }
  
  .fil0 {
    fill: #935E28
  }
  
  #animatedButton:hover {
    filter: blur(.05em);
    animation: lightBox 1s ease-in-out forwards;
  }
  
  #animatedButton:hover::after {
    animation: light 1s ease-in-out forwards;
  }
  
  #animatedButton:hover p {
    animation: lightText 1s ease-in-out forwards;
  }
  
  @keyframes lightBox {
    0% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 5px 0px #fbfd7b8a, inset 0 0 10px #fbfd7b8a;
    }
  
    20% {
      border: 1px solid #ffffff1c;
      box-shadow: none;
    }
  
    30% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 10px 0px #fbfd7b8a, inset 0 0 15px #fbfd7b8a;
    }
  
    38% {
      border: 1px solid #ffffff1c;
      box-shadow: none;
    }
  
    45% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 15px 0px #fbfd7b8a, inset 0 0 20px #fbfd7b8a;
    }
  
    50% {
      border: 1px solid #ffffff1c;
      box-shadow: none;
    }
  
    53% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 15px 0px #fbfd7b8a, inset 0 0 25px #fbfd7b8a;
    }
  
    65% {
      border: 1px solid #ffffff1c;
      box-shadow: none;
    }
  
    100% {
      border: 1px solid #fbfd7b;
      box-shadow: 0 0 15px 0px #fbfd7b8a, inset 0 0 25px #fbfd7b8a;
    }
  }
  
  @keyframes light {
    0% {
      opacity: .7;
    }
  
    20% {
      opacity: 0;
    }
  
    30% {
      opacity: .7;
    }
  
    38% {
      opacity: 0;
    }
  
    45% {
      opacity: .7;
    }
  
    50% {
      opacity: 0;
    }
  
    53% {
      opacity: .7;
    }
  
    65% {
      opacity: 0;
    }
  
    100% {
      opacity: .7;
    }
  }
  
  @keyframes lightText {
    0% {
      color: #fbfd7b;
      text-shadow: 0 0 5px #fbfd7b8a;
    }
  
    20% {
      color: #ffffff;
      text-shadow: none;
    }
  
    30% {
      color: #fbfd7b;
      text-shadow: 0 0 10px #fbfd7b8a;
    }
  
    38% {
      color: #ffffff;
      text-shadow: none;
    }
  
    45% {
      color: #fbfd7b;
      text-shadow: 0 0 15px #fbfd7b8a;
    }
  
    50% {
      color: #ffffff;
      text-shadow: none;
    }
  
    53% {
      color: #fbfd7b;
      text-shadow: 0 0 15px #fbfd7b8a;
    }
  
    65% {
      color: #ffffff;
      text-shadow: none;
    }
  
    100% {
      color: #fbfd7b;
      text-shadow: 0 0 15px #fbfd7b8a;
    }
  }


  /* From Uiverse.io by codebykay101 */ 
.glassContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.glassContainer .glass {
  position: relative;
  width: 180px;
  height: 200px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.glassContainer:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.glassContainer .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.glassContainer .glass svg {
  font-size: 2.5em;
  fill: #fff;
}
