.sound-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 540px) {
  .icon {
    margin-bottom: 0px;
  }
}

.sound-setting {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volume-slider {
  width: 150px;
  appearance: none;
  height: 10px;
  background: linear-gradient(to right, #fccbd5, #eeb823);
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.volume-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Thumb width */
  height: 25px; /* Thumb height */
  background: linear-gradient(120deg, #b446cf, #2bc8f8 ); /* White thumb color */
  border-radius: 50%; /* Rounded thumb */
  cursor: pointer; /* Pointer cursor on hover */
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Subtle shadow for the thumb */
}

.volume-slider.disabled-slider {
  background-color: #ccc; /* Grey out the slider */
  opacity: 0.6; /* Reduce opacity to give a disabled look */
}